<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Email checker Test Suite">        
            <file>tests/MxCheckerTest.php</file>
            <file>tests/SmtpCheckerTest.php</file>
            <file>tests/EmailCheckerTest.php</file>           
            <file>tests/ResponseCheckerTest.php</file>           
            <file>tests/DisponsableCheckerTest.php</file>           
        </testsuite>
    </testsuites>
</phpunit>